<h1>Список постов</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td>Заголовок</td>
            <td>Текст</td>           
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of posts">
            <ng-template [ngIf]="post?.id != p.id" [ngIfElse]="edit">
                <td>{{p?.title}}</td>
                <td>{{p?.text}}</td>               
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editPost(p)">Изменить</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>
    <td>
        <input type="text" [(ngModel)]="post.title" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="post.text" class="form-control" />
    </td>    
    <td>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
    <div class="form-group">
        <label>Заголовок</label>
        <input type="text" [(ngModel)]="post.title" class="form-control" />
    </div>
    <div class="form-group">
        <label>Текст</label>
        <input type="text" [(ngModel)]="post.text" class="form-control" />
    </div>    
    <div>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>